<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="msit.twitterScore.Twitter.Twitter" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.18.0" newVersion="4.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <msit.twitterScore.Twitter.Twitter>
      <setting name="CONSUMER_KEY" serializeAs="String">
        <value>xZAzBqoImFA8IEiEJtFcli29Z</value>
      </setting>
      <setting name="CONSUMER_SECRET" serializeAs="String">
        <value>MtE6sefA3N3LBZiF1SUstbOosp3Mwpe2IEPsoZ0A3XrHNj3Wcm</value>
      </setting>
      <setting name="ACCESS_TOKEN" serializeAs="String">
        <value>1931910810-4rMRPIYlDiCcmAJDz4FV2NdiEFpVoFaSJ062TYl</value>
      </setting>
      <setting name="ACCESS_TOKEN_SECRET" serializeAs="String">
        <value>eijpOAtyVVj87Qh8Sryh8i5vUZunNkjEBnWlO20GzRAHZ</value>
      </setting>
    </msit.twitterScore.Twitter.Twitter>
  </applicationSettings>
</configuration>